<div class="postnord-test-connection">
    <button
        type="button"
        class="btn btn-outline-secondary btn-sm"
        data-request="onTestPostNordConnection"
        data-request-flash
        data-stripe-load-indicator
    >
        <i class="icon-plug"></i>
        <?= e(trans('logingrupa.postnordshippingshopaholic::lang.field.btn_test_connection')) ?>
    </button>
    <span class="text-muted small ms-2">
        <?= e(trans('logingrupa.postnordshippingshopaholic::lang.field.btn_test_connection_hint')) ?>
    </span>
</div>
